@CHARSET "UTF-8";

@font-face {
    font-family: sketch_rockwell;
    src: url('../SketchRockwell-Bold.ttf');
}

@font-face {
    font-family: angelina;
    src: url('../angelina.TTF');
}

button {
    outline: none;
}

a {
    outline: none;
    color: #003EA8;
}

a:hover {
    color: #003EA8;
}

a:link {
    color: #003EA8;
}

img {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

input {
    outline: none;
    line-height: 15px;
    padding: 2px;
}

body {
    font-size: 14pt;
	font-family: angelina, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
	background-color: #f0f0f0;
    margin: 0px;
    padding: 0px;
	color: #000;
}

div {
    font-size: 14pt;
}

table {
    font-size: 14pt;
}

fieldset {
    border: 0px;
}

#registration-container {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

#collabnote-container {
    width: 100%;
    height: 100%;
}

#collab-header-login {
    margin-top: 10px;
    padding-top: 5px;
    right: 70px;
    width: 200px;
    text-align: right;
    padding-right: 8px;
}

#collab-header-dashboard {
    margin-top: 10px;
    padding-top: 5px;
    right: 70px;
    padding-right: 8px;
}

#collab-header-logout {
    margin-top: 10px;
    padding-top: 5px;
    right: 0px;
    padding-right: 8px;
}

.collab-header-login-clicked {
    color: #000 !important;
    background-color: #F6E7A0;
}

#collab-first-page-container {
    padding: 10px;
    font-size: 16pt;
}

#collab-header-login-container {
    width: 192px;
}

#collab-header-login-container table {
    font-size: 14pt;
    color: #000;
}

#collab-header-login-container input {
    font-size: 14pt;
    font-family: angelina;
    line-height: 20px;
    outline: none;
    border: 0px;
    background: transparent;
}

#collab-header-login-container input[type="password"] {
    font-family: Helvetica;
}

#collab-dashboard-sticker {
    font-size: 16pt !important;
}

#collab-dashboard-sticker div {
    font-size: 18pt !important;
}

#collab-dashboard-sticker ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

#collab-dashboard-sticker ul li {
    padding: 2px;
}

#collab-dashboard-sticker a {
    padding-left: 45px;
    color: #000;
    text-decoration: none;
}

#collab-dashboard-sticker-inbox {
    background: transparent url(../images/stickers/inbox.png) no-repeat left center;
}

#collab-dashboard-sticker-comments {
    background: transparent url(../images/stickers/comments.png) no-repeat left center;
}

#collab-dashboard-sticker-documents {
    background: transparent url(../images/stickers/documents.png) no-repeat left center;
}

#collab-dashboard-sticker-settings {
    background: transparent url(../images/stickers/settings.png) no-repeat left center;
}

#collab-dashboard-sticker a:hover {
    color: #000;
    text-decoration: underline;
}

#collab-dashboard-tab-bar {
    border-bottom: 1px solid #AEC6F0;
}

#collab-dashboard-tab-bar ul {
    margin: 0px;
    padding: 3px;
    padding-top: 10px;
    padding-left: 20px;
}

#collab-dashboard-tab-bar ul li {
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
}

#collab-dashboard-tab-bar a {
    text-decoration: none;
}

#collab-dashboard-tab-bar a:hover {
    text-decoration: underline;
}

.collab-dashboard-panel {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.collab-dashboard-cell-img {
    vertical-align: top;
    height: 70px;
    padding-top: 10px;
    padding-left: 70px;
}

.collab-dashboard-empty-doc {
    background: transparent url(../images/stickers/document_image.png) no-repeat left center;
}

.collab-dashboard-list-content {
    margin-top: 10px;
}

.collab-dashboard-list-content a {
    text-decoration: none;
}

.collab-dashboard-list-content a:hover {
    text-decoration: underline;
}

.collab-dashboard-list-header {

}

.collab-dashboard-list-header a {
    text-decoration: none;
}

.collab-dashboard-list-header a:hover {
    text-decoration: underline;
}

#collab-dashboard-new-document {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    background: transparent url(../images/stickers/new_document.png) no-repeat left center;
}

.collab-sticker-yellow {
    color: #000;
    -moz-box-shadow: 3px 3px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 2px rgba(0,0,0,0.5);
    background-color: #F6E7A0;
    padding: 8px;
}

.collab-sticker-title {
    
}

.collab-inline-list {
    list-style: none;
}

.collab-inline-list li {
    padding: 5px;
    list-style: none;
    display: inline-block;
}

.collab-page-header {
    color: #fff;
    background-color: #000 !important;
    font-size: 14pt !important;
    vertical-align: middle;
}

.collab-page-header a {
    color: #fff;
    text-decoration: none;
}

.collab-page-header a:hover {
    color: #fff;
    text-decoration: none;
}

.collab-page-logo {
    display: block;
    font-size: 1.4em;
    margin-top: 8px;
    margin-left: 20px;
    color: #fff;
    font-family: sketch_rockwell;
    text-decoration: none;
}

.collab-page-logo:hover {
    color: #fff;
    text-decoration: none;
}

.collab-page-nav {
}

.collab-page-nav a {
    position: absolute;
    margin-right: 20px;
    display: inline-block;
}

.collab-page-nav a:hover {
    text-decoration: underline;
}

.collab-page-container {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.collab-notebook-line-legal {
    border-bottom: 1px solid #AEC6F0;
}

.collab-notebook-line-legal td {
    border-bottom: 1px solid #AEC6F0;
}

.collab-notebook-form {
    color: #000;
}

.collab-notebook-form-table {
    font-family: sketch_rockwell;
    border-spacing: 0;
    font-size: 1.5em;
    color: #000;
}

.collab-notebook-form-table td {
    padding: 20px 10px 0px 5px;
    margin: 0;
}

.collab-notebook-form-table tr td.form-label {
    vertical-align: bottom;
    padding-left: 60px;
    border-right: 1px solid #F74848;
    width: 220px;
}

.collab-notebook-form-table .form-value input[type="text"] {
    font-family: sketch_rockwell;
    font-size: 1em;
    background-color: transparent;
    outline: none;
    border: 0px;
}

.collab-notebook-form-table .form-value input[type="password"] {
    font-family: sketch_rockwell;
    font-size: 1em;
    background-color: transparent;
    outline: none;
    border: 0px;
}

.collab-notebook-form-fieldset {
    border: 0px;
    padding: 5px;
    margin: 0px;
}

.collab-notebook-title {
    text-align: center;
    font-size: 3em;
}

.collab-notebook-form-input {
    font-family: sketch_rockwell;
    font-size: 1em;
    background: transparent !important;
    border: 0px !important;
    outline: none !important;
}

.collab-form-msg {
    padding: 0px !important;
    margin: 0px !important;
}

.collab-notebook-bg-legal {
    background-color: #FEFEDD !important;
}

.collab-round-corner-top-5 {
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}

.collab-round-corner-bottom-5 {
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.collab-notebook-window {
    font-size: .8em;
    margin: 5px;
    background-color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.collab-title-bar {
	background-color: #5C9DE4;
	border: 1px solid #5C9DE4;
	padding: 2px;
	color: #fff;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.collab-title-bar .collab-window-minimize {
    border: 1px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

.collab-title-bar .collab-window-minimize:hover {
    background-color: rgba(0,0,0,0.2);
}

.collab-title-bar .collab-window-minimize img {
    width: 8px;
    height: 8px;
    vertical-align: baseline;
}

.collab-window-footer {
    height: 30px;
    border: 0px solid #fff;
    border-top: 1px solid #B8C6D9;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background-color: #C9E2FC;
    padding: 5px;
    padding-left: 8px;
}

.collab-notebook-window .dijitGutter {
    background-color: #FFFFFF !important;
}

.collab-notebook-window .dijitGutterH {
    height: 0px !important;
}

.collab-dialog-button:hover {
    color: #000;
    text-decoration: none;
}

.collab-dialog-button {
    cursor: pointer;
    position: absolute;
    padding: 3px;
    color: #000;
    text-decoration: none;
    text-align: center;
    width: 4.5em;
    display: block;
    border: 1px solid #ABABAB;
}

.form-error-msg {
    color: red;
}

.form-error-background {
    background: transparent url(../images/error.png) no-repeat right bottom;
}

.form-ok-background {
    background: transparent url(../images/ok.png) no-repeat right bottom;
}

.form-title-signup {
    background: transparent url(../images/signup-64.png) no-repeat left bottom;
}

.form-label-email {
    background: transparent url(../images/email.png) no-repeat 10px bottom;
}

.form-label-gender {
    background: transparent url(../images/gender.png) no-repeat 10px bottom;
}

.form-label-username {
    background: transparent url(../images/username.png) no-repeat 10px bottom;
}

.form-label-password {
    background: transparent url(../images/password.png) no-repeat 10px bottom;
}

.form-label-dob {
    background: transparent url(../images/birthday.png) no-repeat 10px bottom;
}

.dijitGutter {
    background-color: transparent !important;
}

.dijitGutterH {
    height: 0px !important;
}

.dijitGutterV {
    width: 0px !important;
}

.dijitSplitter {
    background-color: transparent !important;
}

.dijitSplitterH {
    height: 5px !important;
}

.dijitSplitterV {
    width: 5px !important;
}

.dijitBorderContainer-child {
    border: 0px !important;
    padding: 0px !important;
}

.dijitBorderContainer {
    background-color: transparent !important;
}
