{% extends "normal.html" %}
{% block extra_extra_js %}
    <script type="text/javascript" src="/site_media/script/jquery.form.js"></script>
    <script type="text/javascript" src="/site_media/script/jquery.metadata.js"></script>
    <script type="text/javascript" src="/site_media/script/jquery.validate.js"></script>
    <script type="text/javascript">
        dojo.require("dijit.layout.BorderContainer");
        dojo.require("dijit.layout.ContentPane");

        dojo.addOnLoad(function() {
            if (document.pub) {
                document.pub();
            }

            $("#dob").datepicker();
            $("#username").focus();

            var validator = $("#registration-form").validate({
                onkeyup: false,
                errorElement: "div",
                errorClass: "form-error-msg",
                submitHandler: function(form) {
                    $(form).ajaxSubmit({
                        dataType: "json",
                        success: function(res, stat, xhr, $f) {
                            if (res.status == "OK") {
                            } else {
                                validator.showErrors(res.errors);
                                validator.focusInvalid();
                            }
                        },
                    });
                },
                rules: {
                    username: {
                        required: true,
                        minlength: 6,
                        remote: {
                            url: "/register/check_username/",
                            type: "post",
                            data: {
                                username: function() {
                                    return $("#username").val();
                                }
                            },
                        },
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    password: {
                        required: true,
                        minlength: 6,
                    },
                    repassword: {
                        required: true,
                        equalTo: "#password",
                    },
                    dob: {
                        required: true,
                        date: true,
                    },
                },
                messages: {
                    username: {
                        required: "Please specify a username",
                        minlength: "Usernames are at least 6 characters long",
                    },
                    email: {
                        required: "Please leave your email for correspondence",
                        email: "Please enter a valid email",
                    },
                    password: {
                        required: "Please enter a password",
                        minlength: "Passwords should be at least 6 characters",
                    },
                    repassword: {
                        equalTo: "Value is not the same as your password",
                    },
                    dob: {
                        required: "Your date of birth is required for legal reasons",
                        date: "Please enter a valid date: DD/MM/YYYY",
                    }
                },
                showErrors: function(errorMap, errorList) {
                    for (var i = 0; this.errorList[i]; i++) {
                        var error = this.errorList[i];
                        this.showLabel(error.element, error.message);
                    }
                    if (this.settings.success) {
                        for (var i = 0; this.successList[i]; i++) {
                            this.showLabel( this.successList[i] );
                        }
                    }
                },
                errorPlacement: function(error, element) {
                    error.prependTo(element.parent("td"));
                },
                success: function(label) {
                    label.parent("td").removeClass("form-error-background");
                    label.parent("td").addClass("form-ok-background");
                },
            });

            $("#form-submit-link").click(function() {
                if (validator.form()) {
                    $("#registration-form").ajaxSubmit({
                            dataType: "json",
                            success: function(res, stat, xhr, $f) {
                                if (res.status == "OK") {
                                } else if (res.status == "Failed") {
                                    validator.showErrors(res.errors);
                                    validator.focusInvalid();
                                }
                            },
                    });
                }
            });
        });
    </script>
{% endblock %}
{% block page_body %}
    <form action="/register/register/" method="post" id="registration-form" encType="multipart/form-data" class="collab-notebook-form">
        <table class="collab-notebook-form-table" style="width: 100%;">
            <tr class="collab-notebook-line-legal collab-notebook-title">
                <td class="form-label"> &nbsp; </td><td class="form-title-signup form-value">Sign up</td>
            </tr>
            <tr class="collab-notebook-line-legal">
                <td class="form-label-username form-label"><label>Username:</label></td>
                <td class="form-value"><input id="username" name="username" class="collab-notebook-form-input" type="text" size="30" required="true" /><span class="collab-form-msg"></span></td>
            </tr>
            <tr class="collab-notebook-line-legal">
                <td class="form-label-email form-label"><label>Email:</label></td>
                <td class="form-value"><input id="email" name="email" class="collab-notebook-form-input" type="text" size="30" required="true" /><span class="collab-form-msg"></span></td>
            </tr>
            <tr class="collab-notebook-line-legal">
                <td class="form-label-password form-label"><label>Password:</label></td>
                <td><input class="collab-notebook-form-input" type="password" size="30" id="password" name="password" required="true" /><span class="collab-form-msg"></span></td>
            </tr>
            <tr class="collab-notebook-line-legal">
                <td class="form-label-repassword form-label"><label>Retype Password:</label></td>
                <td><input class="collab-notebook-form-input" type="password" size="30" id="repassword" name="repassword" required="true" /><span class="collab-form-msg"></span></td>
            </tr>
            <tr class="collab-notebook-line-legal">
                <td class="form-label-gender form-label"><label>Gender:</label></td>
                <td class="form-value"><input style="vertical-align: text-top;" type="radio" id="gender_male" name="gender" value="M" checked /> Male <input type="radio" id="gender_female" name="gender" value="F" style="vertical-align: text-top;" /> Female</td>
            </tr>
            <tr class="collab-notebook-line-legal">
                <td class="form-label-dob form-label"><label>Date of Birth:</label></td>
                <td class="form-value"><input class="collab-notebook-form-input" type="text" id="dob" name="dob" required="true" /><span class="collab-form-msg"></span></td>
            </tr>
            <tr class="collab-notebook-line-legal">
                <td style="text-align: center;" colspan="2">
                    <a href="#" id="form-submit-link">Submit</a>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
