<div id="collaborators-top" class="window-content-top">
    <div id="collaborator-info">
        <a href="#" id="collaborator-info-link">
            <img width="35" height="35" style="vertical-align: text-top"
                    src="/site_media/images/user.png" />
            <span><b>Rongzhou Shen</b></span></a>
    </div>
    <div class="search-box" id="collaborators-search">
        <input id="search-collaborators" type="text" size="15" />
        <a href="#" style="display: inline-block; cursor: pointer">
            <img style="vertical-align: text-top;" src="/site_media/images/search-16.png" /></a>
    </div>
</div>
<div class="window-content-main"
        style="padding: 0px;">
    <div style="height: 300px;" id="collaborators-list-container">
        <ul>
            <li>
                <a class="collaborator-im-link" href="#">
                    <img width="35" height="35" src="/site_media/images/user.png" />
                    <span>Rongzhou Shen</span>
                </a></li>
            <li>
                <a class="collaborator-im-link" href="#">
                    <img width="35" height="35" src="/site_media/images/user.png" />
                    <span>Rongzhou Shen</span>
                </a></li>
            <li>
                <a class="collaborator-im-link" href="#">
                    <img width="35" height="35" src="/site_media/images/user.png" />
                    <span>Rongzhou Shen</span>
                </a></li>
            <li>
                <a class="collaborator-im-link" href="#">
                    <img width="35" height="35" src="/site_media/images/user.png" />
                    <span>Rongzhou Shen</span>
                </a></li>
            <li>
                <a class="collaborator-im-link" href="#">
                    <img width="35" height="35" src="/site_media/images/user.png" />
                    <span>Rongzhou Shen</span>
                </a></li>
            <li>
                <a class="collaborator-im-link" href="#">
                    <img width="35" height="35" src="/site_media/images/user.png" />
                    <span>Rongzhou Shen</span>
                </a></li>
            <li>
                <a class="collaborator-im-link" href="#">
                    <img width="35" height="35" src="/site_media/images/user.png" />
                    <span>Rongzhou Shen</span>
                </a></li>
            <li>
                <a class="collaborator-im-link" href="#">
                    <img width="35" height="35" src="/site_media/images/user.png" />
                    <span>Rongzhou Shen</span>
                </a></li>
        </ul>
    </div>
</div>
