<div class="collab-dashboard-list-header" style="height: 20px;">
    <div style="float: left;"><a id="collab-dashboard-new-document" href="#">New Document</a></div>
    <div style="float: right;">
        <span style="color: #F61B1A;">1</span> Private document, <span style="color: #F61B1A;">6</span> Collaborated documents
    </div>
</div>

<div class="collab-dashboard-list-content">
    <table class="collab-dashboard-table">
        <tr>
            <td class="collab-dashboard-cell-img collab-dashboard-empty-doc"><a href="#">Document 1</a><br />Last edited: 2009-10-02</td><td></td>
        </tr>
        <tr>
            <td class="collab-dashboard-cell-img collab-dashboard-empty-doc"><a href="#">Document 2</a><br />Last edited: 2009-10-02</td><td></td>
        </tr>
        <tr>
            <td class="collab-dashboard-cell-img collab-dashboard-empty-doc"><a href="#">Document 3</a><br />Last edited: 2009-10-02</td><td></td>
        </tr>
        <tr>
            <td class="collab-dashboard-cell-img collab-dashboard-empty-doc"><a href="#">Document 4</a><br />Last edited: 2009-10-02</td><td></td>
        </tr>
        <tr>
            <td class="collab-dashboard-cell-img collab-dashboard-empty-doc"><a href="#">Document 5</a><br />Last edited: 2009-10-02</td><td></td>
        </tr>
        <tr>
            <td class="collab-dashboard-cell-img collab-dashboard-empty-doc"><a href="#">Document 6</a><br />Last edited: 2009-10-02</td><td></td>
        </tr>
    </table>
</div>
