<div class="window-content-top" style="border-bottom: 0px; padding: 0px;">
    <div id="im-message-search" style="padding: 10px;">
        <div class="search-box" id="messages-search">
            <input id="search-messages" type="text" size="15" />
            <a href="#" style="vertical-align: text-top; display: inline-block; cursor: pointer">
                <img src="/site_media/images/search-16.png" /></a>
        </div>
    </div>
    <div id="im-menu" class="im-menu-bar">
        <a href="#" id="im-history-menu-link" class="im-menu-item"><img src="/site_media/images/history.png" /> History</a><a href="#" id="im-set-topic-link" class="im-menu-drop-item"><img src="/site_media/images/topic.png" /> Topic</a><a href="#" id="im-chat-instances-link" class="im-menu-drop-item"><img src="/site_media/images/im_windows.png" /> IM Windows</a>
    </div>
</div>
<div class="window-content-main" style="padding: 0px;">
    <div id="im-message-list-container">
        <div class="im-message-container">
            <div style="float: left;"><img class="avarta" style="vertical-align: text-top;"
                        src="/site_media/images/user.png" width="35" height="35" /></div>
            <div style="padding-bottom: 3px;">2010-03-31 10:00 pm
                <a class="im-message-menu-link" href="#"><img src="/site_media/images/down-16.png"
                            width="13" height="13" style="vertical-align: text-top;"/></a></div>
            <div><b>Me:</b> <span style="color: #000;">This is a test message to see how the UI works</span></div>
        </div>
    </div>
</div>
