{% extends "base.html" %}
{% block extra_script %}
    <script type="text/javascript" src="/site_media/script/strophe.min.js"></script>
    <script type="text/javascript" src="/site_media/script/flXHR.js"></script>
    <script type="text/javascript" src="/site_media/script/strophe.flxhr.min.js"></script>
    <script type="text/javascript">
        dojo.require("dijit.Editor");
        dojo.require("dijit._editor.plugins.LinkDialog");
        dojo.require("dijit.layout.ContentPane");
        dojo.require("dojox.layout.ScrollPane");
        dojo.require("dijit.layout.BorderContainer");

        dojo.addOnLoad(function() {
            if (document.pub) {
                document.pub();
            }

            dojo.query(".collab-window-minimize").forEach(function(node, index, arr) {
                dojo.connect(node, "onmousedown", null, function() {
                    dojo.style(node, "background-color", "rgba(0,0,0,0.4)");
                });
                dojo.connect(node, "onmouseover", null, function() {
                    dojo.style(node, "background-color", "rgba(0,0,0,0.2)");
                });
                dojo.connect(node, "onmouseout", null, function() {
                    dojo.style(node, "background-color", "transparent");
                });
                dojo.connect(node, "onmouseup", null, function() {
                    dojo.style(node, "background-color", "transparent");
                });

                $(".collab-dialog-button").jacg({radius: '3px', start: '#FFFFFF', end: '#DDDDDD'});
                $(".collab-dialog-button").mousedown(function() {
                    $(this).jacg({radius: '3px', start: '#ACACAC', end: '#DDDDDD'});
                });
                $(".collab-dialog-button").mouseup(function() {
                    $(this).jacg({radius: '3px', start: '#FFFFFF', end: '#DDDDDD'});
                });
                $(".collab-dialog-button").mouseleave(function() {
                    $(this).jacg({radius: '3px', start: '#FFFFFF', end: '#DDDDDD'});
                });
            });

            var conn_status = $("#conn-status");
            var conn = new Strophe.Connection("http://localhost:7070/http-bind/");
            conn.connect("anticlockwise@localhost", "jackshen", function(stat) {
                if (stat == Strophe.Status.CONNECTING) {
                    conn_status.text("Connecting");
                } else if (stat == Strophe.Status.CONNFAIL) {
                    conn_status.text("Connection failed");
                } else if(stat == Strophe.Status.AUTHENTICATING) {
                    conn_status.text("Authenticating");
                } else if (stat == Strophe.Status.CONNECTED) {
                    // Set presence
                    conn_status.text("Connected");
                    var presence = $pres().c("show").t("away").up()
                        .c("status").t("Off to Meryton");
                    conn.send(presence);
                    conn_status.text("Away");
                } else if (stat == Strophe.Status.DISCONNECTING) {
                    conn_status.text("Disconnecting");
                } else if (stat == Strophe.Status.DISCONNECTED) {
                    conn_status.text("Disconnected");
                } else if (stat == Strophe.Status.AUTHFAIL) {
                    conn_status.text("Authentication failed");
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div dojoType="dijit.layout.BorderContainer" design="headline" id="collabnote-container">
        <div dojoType="dijit.layout.ContentPane" region="top" style="height: 50px; left: 0px !important; right: 0px !important; top: 0px !important;"><a href="/register/logout/">Log out</a></div>
        <div dojoType="dijit.layout.BorderContainer" design="sidebar" gutters="true"
                liveSplitters="true" region="center">
            <div dojoType="dijit.layout.BorderContainer" splitter="true" region="left"
                    style="width: 200px;" liveSplitters="true" design="headline">
                <div dojoType="dijit.layout.BorderContainer" splitter="true" region="top" style="height: 50%;" class="collab-notebook-window">
                    <div class="collab-round-corner-top-5" dojoType="dijit.layout.ContentPane" region="top">
                        <div class="collab-title-bar">
                            <a href="#" title="Minimize" class="collab-window-minimize"><img src="/site_media/images/minimize.png" /></a> Documents</div>
                    </div>
                    <div dojoType="dijit.layout.ContentPane" region="center">
                        <div dojoType="dojox.layout.ScrollPane">
                            Document list here
                        </div>
                    </div>
                    <div class="collab-round-corner-bottom-5" dojoType="dijit.layout.ContentPane" region="bottom">
                        <div class="collab-window-footer">Controls here</div>
                    </div>
                </div>
                <div dojoType="dijit.layout.BorderContainer" splitter="true" class="collab-notebook-window" region="center">
                    <div class="collab-round-corner-top-5" dojoType="dijit.layout.ContentPane" region="top">
                        <div class="collab-title-bar">
                            <a href="#" title="Minimize" class="collab-window-minimize"><img src="/site_media/images/minimize.png" /></a> Collaborators</div>
                    </div>
                    <div dojoType="dijit.layout.ContentPane" region="center">
                        <div dojoType="dojox.layout.ScrollPane">
                            Collaborators list here
                        </div>
                    </div>
                    <div dojoType="dijit.layout.ContentPane" class="collab-round-corner-bottom-5" region="bottom">
                        <div class="collab-window-footer">Controls here</div>
                    </div>
                </div>
            </div>
            <div dojoType="dijit.layout.BorderContainer" class="collab-notebook-window" splitter="true" region="center">
                <div class="collab-round-corner-top-5" dojoType="dijit.layout.ContentPane" region="top">
                    <div class="collab-title-bar">
                        <a href="#" title="Close" class="collab-window-minimize"><img src="/site_media/images/close_window.png" /></a><a href="#" title="Maximize" class="collab-window-minimize"><img src="/site_media/images/maximize.png" /></a><a href="#" title="Minimize" class="collab-window-minimize"><img src="/site_media/images/minimize.png" /></a> Notebook
                    </div>
                </div>
                <div dojoType="dijit.layout.ContentPane" class="collab-notebook-bg-legal"  region="center">Document editor here</div>
                <div dojoType="dijit.layout.ContentPane" region="bottom" class="collab-round-corner-bottom-5">
                    <div class="collab-window-footer">Controls here</div>
                </div>
            </div>
            <div dojoType="dijit.layout.BorderContainer" class="collab-notebook-window" splitter="true" region="right"
                    style="width: 400px;">
                <div class="collab-round-corner-top-5" dojoType="dijit.layout.ContentPane" region="top">
                    <div class="collab-title-bar">
                        <a href="#" title="Close" class="collab-window-minimize"><img src="/site_media/images/close_window.png" /></a><a href="#" title="Maximize" class="collab-window-minimize"><img src="/site_media/images/maximize.png" /></a><a href="#" title="Minimize" class="collab-window-minimize"><img src="/site_media/images/minimize.png" /></a> Messages <span id="conn-status"></span>
                    </div>
                </div>
                <div dojoType="dijit.layout.ContentPane" region="center">
                    <div dojoType="dojox.layout.ScrollPane">Message list here</div>
                </div>
                <div dojoType="dijit.layout.BorderContainer" design="headline" class="collab-round-corner-bottom-5" style="height: 150px;" region="bottom">
                    <div dojoType="dijit.layout.ContentPane" region="center">
                        <div dojoType="dijit.Editor" plugins="['undo', 'redo', '|', 'cut', 'copy', 'paste', '|', 'bold', 'italic', 'underline', 'strikethrough', '|', 'subscript', 'superscript', '|', 'insertUnorderedList', 'insertOrderedList', 'createLink']" style="border: 0px !important;"></div>
                    </div>
                    <div dojoType="dijit.layout.ContentPane" class="collab-round-corner-bottom-5" region="bottom" style="height: 35px;"><a href="#" style="width: 11em; bottom: 3px; right: 5px;" class="collab-dialog-button"><b>Send</b> <font style="color: #333;">[shift-enter]</font></a></div>
                </div>
            </div>
        </div>
        <div dojoType="dijit.layout.ContentPane" class="collab-notebook-window" region="bottom" style="height: 40px;">Window List</div>
    </div>
{% endblock %}
