<div style="padding: 2px;"><a href="#" title="Close" class="window-minimize"><img src="/site_media/images/close_window.png" /></a><a href="#" title="Maximize" class="window-minimize"><img src="/site_media/images/maximize.png" /></a><a href="#" title="Minimize" class="window-minimize"><img src="/site_media/images/minimize.png" /></a> Notebook</div>
<div style="padding: 0px; border-bottom: 0px;" class="window-content-top">
    <div id="notebook-pages"></div>
    <div id="notebook-menu-bar" class="notebook_menu_bar">
        <div title="File" id="file-menu" class="collab-toolbar-menu-button collab-inline-block">
            <div class="collab-inline-block collab-toolbar-menu-button-outer-box">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        <div>File</div>
                    </div>
                </div>
            </div>
        </div>
        <div title="Edit" id="edit-menu" class="collab-toolbar-menu-button collab-inline-block">
            <div class="collab-inline-block collab-toolbar-menu-button-outer-box">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        <div>Edit</div>
                    </div>
                </div>
            </div>
        </div>
        <div title="View" id="view-menu" class="collab-toolbar-menu-button collab-inline-block">
            <div class="collab-inline-block collab-toolbar-menu-button-outer-box">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        <div>View</div>
                    </div>
                </div>
            </div>
        </div>
        <div title="Insert" id="insert-menu" class="collab-toolbar-menu-button collab-inline-block">
            <div class="collab-inline-block collab-toolbar-menu-button-outer-box">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        <div>Insert</div>
                    </div>
                </div>
            </div>
        </div>
        <div title="Format" id="format-menu" class="collab-toolbar-menu-button collab-inline-block">
            <div class="collab-inline-block collab-toolbar-menu-button-outer-box">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        <div>Format</div>
                    </div>
                </div>
            </div>
        </div>
        <div title="Table" id="table-menu" class="collab-toolbar-menu-button collab-inline-block">
            <div class="collab-inline-block collab-toolbar-menu-button-outer-box">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        <div>Table</div>
                    </div>
                </div>
            </div>
        </div>
        <div title="Help" id="help-menu" class="collab-toolbar-menu-button collab-inline-block">
            <div class="collab-inline-block collab-toolbar-menu-button-outer-box">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        <div>Help</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="notebook-tool-bar" class="notebook_tool_bar">
        <div id="editor-save" title="Save" class="collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-editor-save"> </div>
                </div>
            </div>
        </div>
        <div id="editor-print" title="Print" class="collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-editor-print"> </div>
                </div>
            </div>
        </div>
        <div id="editor-undo" title="Undo" class="collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-editor-undo"> </div>
                </div>
            </div>
        </div>
        <div id="editor-redo" title="Redo" class="collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-editor-redo"> </div>
                </div>
            </div>
        </div>
        <div id="editor-paste" title="Paste" class="collab-toolbar-menu-button collab-inline-block">
            <div class="collab-toolbar-menu-button-outer-box collab-inline-block">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        <div class="collab-editor-paste"> </div>
                    </div>
                    <div class="collab-toolbar-menu-button-dropdown collab-inline-block"> </div>
                </div>
            </div>
        </div>
        <div id="editor-text-style" title="Styles" class="editor-text-style collab-toolbar-select collab-toolbar-menu-button collab-inline-block">
            <div class="collab-toolbar-menu-button-outer-box collab-inline-block">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        Normal
                    </div>
                    <div class="collab-toolbar-menu-button-dropdown collab-inline-block"> </div>
                </div>
            </div>
        </div>
        <div id="editor-fonts" title="Fonts" class="editor-fonts collab-toolbar-select collab-toolbar-menu-button collab-inline-block">
            <div class="collab-toolbar-menu-button-outer-box collab-inline-block">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        Times New Roman
                    </div>
                    <div class="collab-toolbar-menu-button-dropdown collab-inline-block"> </div>
                </div>
            </div>
        </div>
        <div id="editor-font-size" title="Font size" class="editor-font-size collab-toolbar-select collab-toolbar-menu-button collab-inline-block">
            <div class="collab-toolbar-menu-button-outer-box collab-inline-block">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        12pt
                    </div>
                    <div class="collab-toolbar-menu-button-dropdown collab-inline-block"> </div>
                </div>
            </div>
        </div>
        <div id="editor-bold" title="Bold" class="collab-toolbar-toggle-button collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-button-caption collab-inline-block">
                        <div class="collab-editor-bold"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor-italic" title="Italic" class="collab-toolbar-toggle-button collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-button-caption collab-inline-block">
                        <div class="collab-editor-italic"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor-underline" title="Underline" class="collab-toolbar-toggle-button collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-editor-underline"> </div>
                </div>
            </div>
        </div>
        <div id="editor-text-color" title="Text color" class="collab-toolbar-menu-button collab-inline-block">
            <div class="collab-toolbar-menu-button-outer-box collab-inline-block">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        <div class="collab-editor-text-color"> </div>
                    </div>
                    <div class="collab-toolbar-menu-button-dropdown collab-inline-block"> </div>
                </div>
            </div>
        </div>
        <div id="editor-text-bg-color" title="Text background color" class="collab-toolbar-menu-button collab-inline-block">
            <div class="collab-toolbar-menu-button-outer-box collab-inline-block">
                <div class="collab-toolbar-menu-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-menu-button-caption collab-inline-block">
                        <div class="collab-editor-text-bg-color"> </div>
                    </div>
                    <div class="collab-toolbar-menu-button-dropdown collab-inline-block"> </div>
                </div>
            </div>
        </div>
        <div class="collab-toolbar-separator collab-inline-block"> </div>
        <div id="editor-ordered-list" title="Numbered List" class="collab-toolbar-toggle-button collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-button-caption collab-inline-block">
                        <div class="collab-editor-ordered-list"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor-bulleted-list" title="Bulleted List" class="collab-toolbar-toggle-button collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-button-caption collab-inline-block">
                        <div class="collab-editor-bulleted-list"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor-unindent" title="Decrease indent" class="collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-button-caption collab-inline-block">
                        <div class="collab-editor-unindent"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor-indent" title="Increase indent" class="collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-button-caption collab-inline-block">
                        <div class="collab-editor-indent"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor-align-left" title="Align left" class="collab-toolbar-toggle-button collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-button-caption collab-inline-block">
                        <div class="collab-editor-align-left"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor-align-center" title="Align center" class="collab-toolbar-toggle-button collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-button-caption collab-inline-block">
                        <div class="collab-editor-align-center"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="editor-align-right" title="Align right" class="collab-toolbar-toggle-button collab-toolbar-button collab-inline-block">
            <div class="collab-toolbar-button-outer-box collab-inline-block">
                <div class="collab-toolbar-button-inner-box collab-inline-block">
                    <div class="collab-toolbar-button-caption collab-inline-block">
                        <div class="collab-editor-align-right"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
