<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
    <head>
        <title>{% block title %}Collabnote{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
        <link rel="stylesheet" type="text/css" href="/site_media/style/notebook.css" />
        <link rel="stylesheet" type="text/css" href="/site_media/style/jquery-ui-1.8.custom.css" />
        <link rel="stylesheet" type="text/css" href="/site_media/script/dijit/themes/tundra/tundra.css" />
        <script type="text/javascript" src="/site_media/script/jquery.js"></script>
        <script type="text/javascript" src="/site_media/script/jquery.jacg.js"></script>
        <script type="text/javascript" src="/site_media/script/jquery.ui.js"></script>
        <script type="text/javascript" src="/site_media/script/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
        <script type="text/javascript" src="/site_media/script/collabnote.js"></script>
        {% block extra_script %} {% endblock %}
    </head>
    <body class="tundra">
        {% block content %} {% endblock %}
        <div id="dialog-overlay"></div>
    </body>
</html>
