<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
    <head>
        <title>{% block title %}Collabnote{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
        <link rel="stylesheet" type="text/css" href="/site_media/style/notebook.css"
                media="screen" />
        <link rel="stylesheet" type="text/css"
                href="/site_media/style/ui-lightness/jquery-ui-1.8.custom.css" media="screen" />
        <link rel="stylesheet" type="text/css"
                href="/site_media/style/jScrollPane.css" media="all" />
        <link rel="stylesheet" type="text/css"
                href="/site_media/style/jquery.contextMenu.css" media="screen" />
        <script type="text/javascript" src="/site_media/script/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/site_media/script/jquery-ui-1.8.custom.min.js"></script>
        <script type="text/javascript" src="/site_media/script/jquery.layout.min-1.2.0.js"></script>
        <script type="text/javascript" src="/site_media/script/jquery.jacg.js"></script>
        <script type="text/javascript" src="/site_media/script/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="/site_media/script/jquery.em.js"></script>
        <script type="text/javascript" src="/site_media/script/jquery.contextMenu.js"></script>
        <script type="text/javascript" src="/site_media/script/jScrollPane.js"></script>
        <script type="text/javascript" src="/site_media/script/collabnote.js"></script>
        <script type="text/javascript" src="/site_media/script/editor.js"></script>
        {% block extra_script %} {% endblock %}
    </head>
    <body>
        {% block content %} {% endblock %}
        <div id="dialog-overlay"></div>
    </body>
</html>
